body {
    height: 100vh;
}

header {
    height: 20%;
}

main {
    display: flex;
    height: 80%;
}

article {
    border: 1px solid;
}

#left-article {
    border-color: orange;
}

#right-article {
    border-color: greenyellow;
}