body {
    height: 100vh;
}

header {
    height: 20%;
}

main {
    display: flex;
    height: 80%;
    justify-content: space-evenly;
}

article {
    width: 45%;
}

.with_border {
    border: 1px solid;
}

#cards_heading {
    border-color: salmon;
    height: 5%;
}

#cards_container {
    border-color: aqua;
    height: 90%;
    width: 100%;
}

#left_article {
    border-color: orange;
}

#right_article {
    border-color: greenyellow;
}