body {
    height: 100vh;
}

header {
    height: 20%;
}

main {
    display: flex;
    height: 80%;
    justify-content: space-evenly;
}

article {
    border: 1px solid;
    width: 45%;
}

#left-article {
    border-color: orange;
}

#right-article {
    border-color: greenyellow;
}